<!-- div -->
<div class="form-group">
	<div class="col-md-6">
	    <input id="<%= id %>" name="<%= id %>" type="text" placeholder="<%= placeholder %>" class="form-control input-xlarge" <% if(required) {%> required <% } %> />
	    <% if (helptext.length > 0) { %><span class="help-block"><%= helptext %></span><% } %>
	</div>
	<div class="col-md-6">
	    <input id="<%= id2 %>" name="<%= id2 %>" type="text" placeholder="<%= placeholder2 %>" class="form-control input-xlarge" <% if(required2) {%> required <% } %> />
	    <% if (helptext2.length > 0) { %><span class="help-block"><%= helptext2 %></span><% } %>
	</div>
</div>
